body {
    font-family: 'Muli', sans-serif;
    width: 80%;
    margin: auto;
    background color: grey;
}

.block {
    height: 300px;
    weight: 100px;
    background-color: #d1d1d1;
}

.venticinque {

}

.trenta {

}

.cinquanta {

}
