* {
    font-family: 'Muli', sans-serif;
    background-color: grey;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 70%;
}

#prima_section {
    background-color: white;
    margin-top: 20px;
    border: 2px solid black;
}

#seconda_section {
    background-color: white;
    margin-top: 400px;
    border: 2px solid black;
}

.block {
    height: 300px;
    width: 250px;
}

#uno {
    background-color: green;
    position: absolute;
    padding: 24px 5px 24px 5px;
}

#due {
    background-color: red;
    position: absolute;
    margin-left: 260px;
    padding: 60px 5px 60px 5px;
}

#tre {
    background-color: blue;
    position: absolute;
    margin-left: 520px;
    padding: 15px 40px 15px 40px;
}

#quattro {
    background-color: yellow;
    position: absolute;
}

#cinque {
    background-color: lightblue;
    position: absolute;
    margin-left: 260px
}

#sei {
    background-color: orange;
    position: absolute;
    margin-left: 520px;
}

#burro {
    width: 240px;
}

#haribo {
    width: 240px;
}

#cereali {
    height: 270px;
    padding-top: 25px;
}

#mms {
    height: 270px;
}

#marshmallow {
    height: 270px;
}

#burger {
    width: 240px;
}

.xc {
    position: absolute;
    right: 0;
    width: 50px;
    height: 20px;
}

.venticinque{
    background-color: yellow;
}

.venti {
    background-color: purple;
}

.cinquanta {
    background-color: pink;
}
